build/
install/
log/
src/*
!src/.anchor

# Do not ignore these directories (track them)
!src/isaac_ros_realsense_control/launch/
!src/pca9685_ros2_control/

# Exclude large data and pack files
*.onnx
*.mcap
*.pack
*.gz
*.zip
*.tar
*.tar.gz
*.bag
